<!-- views/edit.ejs -->
<%- include('header') -%>
    <%- include('navbar_1header_login') -%>
    <h1>Edit Task</h1>
    <form action="/categories/edit/<%= Category.id %>" method="post">
        <label for="title">Title:</label>
        <input type="text" id="name" name="name" value="<%= Category.name %>" required>
        <br>
        <label for="description">Description:</label>
        <select id="category_type"  name="category_type">
            <% for (const fruit of CategoryType) { %>
              <option value="<%= fruit.category_type %>"><%= fruit.category_type %></option>
            <% } %>
        </select>
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <a href="/categories">Back to Categories</a>
    <%- include('navbar_2footer') -%>
<%- include('footer') -%>