<!-- views/edit.ejs -->
<%- include('header') -%>
    <%- include('navbar_1header_login') -%>
    <h1>Edit Components</h1>
    <form action="/components/edit/<%= Component.id %>" method="post">
        <label for="title">Title:</label>
        <input type="text" id="name" name="name" value="<%= Component.name %>" required>
        <br>
        <label for="description">Description:</label>
        <select id="category_id"  name="category_id">
            <% for (const fruit of Category) { %>
              <option value="<%= fruit.id %>"><%= fruit.name %></option>
            <% } %>
        </select>
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <a href="/components">Back to Components</a>
    <%- include('navbar_2footer') -%>
<%- include('footer') -%>